@Model  InstitutionDepartmentsViewModel
<partial name="SidNavView" />
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">


        <!-- row -->
        <div class="row" id="addDepartment">
            <div class="col-md-9">
                <h3 class="page-title">Add Department</h3>
                <!-- CONTACT FORM -->
                <div class="panel">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <form id="new-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" hidden name="institutionId" value=@Model.Institution.InstitutionId>
                                    </div>
                                    <div class="">
                                        <div class="form-group">
                                            <label>Associated College / Institute</label>
                                            <select class="form-control" name="collegeId">
                                                @{
                                                    List<College> colleges = (List<College>)ViewData["colleges"];
                                                    foreach (var college in colleges)
                                                    {
                                                        <option value="@(college.CollegeId)">@(college.Name)</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Department / School Name</label>
                                            <input class="form-control" type="text" name="name" />
                                        </div>
                                        <div class="form-group">
                                            <label>Associated User</label>
                                            <select class="form-control" name="applicationUserId">
                                                @{
                                                    var usersViewData = ViewData["users"];
                                                    if (usersViewData != null)
                                                    {
                                                        List
                                                        <ApplicationUser>
                                                            users = (List<ApplicationUser>
                                                                )usersViewData;
                                                        if (users.Count > 0)
                                                        {
                                                            foreach (ApplicationUser applicationUser in users)
                                                            {
                                                                <option value="@(applicationUser.Id)">@(applicationUser.UserName)</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <h3 class="page-title">Department List</h3>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Department List</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-sorting table-hover table-striped" id="departments-table">
                            <thead>
                                <tr>
                                    <th>Department Name</th>
                                    <th>Current User</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="edit-model-modal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Department</h4>

                </div>
                <div class="modal-body">
                    <form id="edit-form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="departmentId" hidden />
                                    <input type="text" name="institutionId" hidden />
                                    <input type="text" name="applicationUserId" hidden />
                                </div>
                                <div class="form-group">
                                    <label>Department Name </label>
                                    <input class="form-control" type="text" name="name" />
                                </div>

                                <div class="form-group">
                                    <label>Associated College</label>
                                    <select class="form-control" name="collegeId">
                                        @{
                                            List<College> colleges2 = (List<College>)ViewData["colleges"];
                                            foreach (var college in colleges2)
                                            {
                                                <option value="@(college.CollegeId)">@(college.Name)</option>
                                            }

                                        }
                                    </select>
                                </div>
                                 
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit </button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts
    {

    <script src="~/assets/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.colReorder.js"></script>
    <script src="~/assets/vendor/data-tables/dataTables.tableTools.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>



    <script>
        var url = "/api/departments"
        var fetchUrl = "/api/departments/ByInstitution/" + @Model.Institution.InstitutionId
        var tableId = "#departments-table"
        var newformId = "#new-form"
        var editformId = "#edit-form"
        var dataId = "departmentId"

        var selectedrow;

        var columns = [
            { data: "name" },
            { data: "applicationUser.email" },
            {
                data: dataId,
                render: function (data, type, department) {
                    return '<button type="button" class="btn btn-primary btn-sm edit-data-button" data-toggle="modal" data-target="#edit-model-modal">Edit</button> '
                }
            }
        ]

    </script>
    <script src="~/assets/scripts/data-crud.js"></script>
}
